html {
    background-color: #24242B;
    color: white;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
}

main {
    display: flex;
}

.sidebar {
    width: 16%;
    max-width: 250px;
    min-width: 180px;
    height: 100vh;
    background-color: #18181F;
    margin: 0px;
}

.sidebar-ul {
    margin: 0px;
    padding: 0px;
}

.sidebar-ul:hover {
    cursor: pointer;
}

.sidebar-li {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.sidebar-active {
    background-color: #09A7A0;
    color: black;
    font-weight: 500;
}


/* Services */

.dashboard-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #24242B;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.user-icon {
    width: 75px;
    height: 75px;
}

.infos-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.infos-form > *{
    margin: 5px;
}

.infos-form > .infos-fields{
    height: 25px;
}

.infos-submit {
    height: 38px;
    margin-top: 10px;
    background-color: #09A7A0;
    color: white;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.infos-submit:hover {
    cursor: pointer;
}

/* Occasions */

.dashboard-occasions {
    display: flex;
    background-color: #24242B;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.vehicules-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vehicules-imgs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 650px;
    margin-top: 30px;
}

.vehicules {
    position: relative;
    width: 185px;
    height: 115px;
    margin: 15px;
}

.vehicules-img {
    width: 185px;
    height: 115px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.vehicules-img:hover {
    cursor: pointer;
}

.vehicules-delete:hover {
    cursor: pointer;
    zoom: 110%;
}

.vehicules-delete:hover ~ .vehicules-img {
    filter: blur(5px);
}

.vehicules-delete {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0px;
    opacity: 1;
    z-index: 2;
}

.occasions-form {
    padding: 20px;
    margin-top: 50px;
    border: solid 1px #09A7A0;
    border-radius: 10px;
}

.occasions-form h3 {
    margin-top: 0px;
}

.occasions-form1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.occasions-form1 > * {
    width: 15%;
    height: 25px;
    margin: 10px;
}

.occasions-form2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#occasions-description {
    width: 250px;
}

.occasions-submit {
    width: 118px;
    height: 38px;
    background-color: #09A7A0;
    color: white;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    margin-top: 10px;
}






.hide {
    display: none;
}