html {
    background-color: #24242B;
    color: white;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
}

main {
    display: flex;
    height: 90vh;
}

.sidebar {
    width: 16%;
    max-width: 250px;
    min-width: 180px;
    background-color: #18181F;
    margin: 0px;
}

.sidebar-ul {
    margin: 0px;
    padding: 0px;
}

.sidebar-ul:hover {
    cursor: pointer;
}

.sidebar-li {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.sidebar-active {
    background-color: #09A7A0;
    color: black;
    font-weight: 500;
}


/* Services */

.dashboard-services {
    position: relative;
    width: 84%;
}

.glow {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 400px;
    background: radial-gradient(circle, #09a79f9f, transparent);
    filter: blur(80px);
    transform: scale(2.5); /* Ajuster la valeur pour l'effet de taille */
    opacity: 0.5;
    z-index: -1;
}

.main-title {
    text-align: center;
}

.services-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.service {
    display: flex;
    position: relative;
    align-items: center;
    width: 40%;
    margin: 50px;
}

.delete-icon:hover {
    cursor: pointer;
}

.delete-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 40px;
    right: 40px;
    opacity: 1;
}

.service-img {
    width: 213px;
    height: 103px;
    border-radius: 20px;
    object-fit: cover;
}

.service-infos {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 50%;
}

.service-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 50px;
}

.service-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service-add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-add-img {
    text-align: center;
}

.service-add-infos {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.submit {
    width: 118px;
    height: 38px;
    background-color: #09A7A0;
    color: white;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}


/* Occasions */

.dashboard-occasions {
    display: flex;
    background-color: #24242B;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

.vehicules-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.vehicules h2 {
    margin-bottom: 5px;
}

.vehicules-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.vehicule-active {
    border: 1px solid #09A7A0;
}

.vehicules-img {
    width: 185px;
    height: 115px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.vehicules-img:hover {
    cursor: pointer;
}

.vehicule-card {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 0px 0px 15px 15px;
}

.vehicule-img {
    width: auto;
    height: 349px;
    object-fit: cover;
}

.card-bottom {
    padding: 15px;
}

.topline {
    display: flex;
    justify-content: space-between;
}

.vehicule-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
}


/* Horaires */

.dashboard-horaires {
    width: 84%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horaires-form {
    display: flex;
    flex-direction: column;
}

.horaires-form > * {
    margin: 5px;
}


/* Employés */



.hide {
    display: none;
}