html {
    background-color: #24242B;
    color: white;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
}

main {
    position: relative;
}

.glow {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 500px;
    height: 400px;
    background: radial-gradient(circle, #09a79f9f, transparent);
    filter: blur(80px);
    transform: scale(2.5); /* Ajuster la valeur pour l'effet de taille */
    opacity: 0.5;
    z-index: -1;
}

.main-title {
    text-align: center;
}

.services-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.service {
    display: flex;
    width: 40%;
    margin: 50px;
}

.service-img {
    width: 313px;
    height: 203px;
    border-radius: 20px;
    object-fit: cover;
}

.service-infos {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 50%;
}