html {
    background-color: #24242B;
    color: white;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
}

.section-vehicules-occasions {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 70px 0px 70px 0px;
    overflow: hidden;
}

.occasions-glow {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 200px;
    background: radial-gradient(circle, #09a79f9f, transparent);
    filter: blur(80px);
    transform: scale(2.5);
    opacity: 0.5;
    z-index: -1;
}


.vehicules {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.vehicules h2 {
    margin-bottom: 5px;
}

.vehicules-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.hided-infos > * {
    display: block !important ;
    border: solid 1px #09A7A0;
}

.vehicule-active {
    border: 1px solid #09A7A0;
}

.vehicules-img {
    width: 185px;
    height: 115px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.vehicules-img:hover {
    cursor: pointer;
}

.vehicule-card {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 5px 5px 30px 10px rgb(0, 0, 0);
}

.vehicule-img {
    width: auto;
    height: 349px;
    object-fit: cover;
}

.card-bottom {
    padding: 15px;
}

.card-bottom > div {
    display: flex;
    justify-content: space-between;
}

.vehicule-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
}



@media screen and (max-width: 1000px) {
    .section-vehicules-occasions {
        flex-direction: column;
        align-items: center;
    }

    .vehicules div {
        margin-bottom: 70px;
    }

    .vehicules-imgs {
        display: none;
    }

    .vehicule-card {
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        width: 70%;
        border-radius: 0px 0px 15px 15px;
        box-shadow: 5px 5px 30px 10px rgb(0, 0, 0);
    }

    .vehicule-img {
        width: auto;
        height: 50vw;
        object-fit: cover;
    }
}