html {
    width: 0px;
}

header {
    background-color: #18181F;
    color: white;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 35%;
    padding-left: 4%;
}

.logo {
    width: 100px;
    height: 100px;
}

.nav-container {
    width: 35%;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.active {
    color: #09A7A0;
    font-size: 1rem;
}

.nav-ul {
    display: flex;
    list-style: none;
}

.nav-ul li {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-ul li:hover {
    zoom: 110%;
}

a {
    color: white;
    text-decoration: none;
}

.connect-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 20%;
    padding-right: 3%;
    font-size: 0.9rem;
}

.connect-container a {
    display: flex;
}

.connect-icon {
    width: 40px;
    height: 40px;
    margin: 5px;
}